<div class='row'>
	<div class='col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 about'>
		<h3>Made By <span class='white'><b>Chris Carlson</span></b></h3>
		<h4>Web Developer <span class='white'>|</span> Musician</h4>
		<hr>
		<div class='about-pic-container'>
			<img class='about-pic' src='app/assets/me.jpg'>
		</div>
		<div class='icons'>
			<a href="https://github.com/TheCodingCarlson/harmonize"><i class="fa fa-github-square fa-2x"></i></a>
			<a href="https://www.linkedin.com/in/thecodingcarlson"><i class="fa fa-linkedin-square fa-2x"></i></a>
			<a href="mailto:chris.carlson.dev@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>
		</div>
	</div>
</div>