<h1>Write Cool Chord Progressions</h1>

<h3>Choose a Starting Note</h3>
<select class="form-control" name="note" id="note" ng-model="note">
	<option value="c">C</option>
	<option>D</option>
	<option>E</option>
	<option>F</option>
</select>

<h3>Choose a Chord Quality</h3>
<select class="form-control" name="chordQuality" id="chordQuality" ng-model="chordQuality">
	<option value="major">Major</option>
	<option value="minor">Minor</option>
</select>

<h2>{{ note }}</h2>
<h2>{{ chordQuality }}</h2>


