<div class='row'>
	<div class='col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3'>
		<h1 id='homeh1'>Welcome to <span id='harmonize'>Harmonize</span></h1>
	</div>
</div>
<div class='row'>
	<div class='col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3'>
		<div class='movie-container'>
	 		<iframe id='movie'
				src="https://www.youtube.com/embed/oOlDewpCfZQ">
			</iframe>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3'>
		<p id='homep'><b>Hail Aspiring Songwriter!</b> Have you ever wanted to learn songs and write your own chords, but felt limited by your limited musical knowledge? Well fret no more! I have created <b>Harmonize</b> to aid the average joe in becoming the next Taylor Swift. As you can see from the clip above, most pop songs consist of four chords and many follow a few standard progressions. You may be wondering how this all works. Please go <a id='homea' href='/howto'>Here</a> or click the 'How To' link above to get started!</p>
	</div>
</div>


	
	

