<div class='row'>
	<div class='col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3'>
	<h3 class='hotToh2s'>A Few Things You Should <b>Know</b></h3>
	<hr>
	<div class='keys-container'>
		<img id='keys' src="app/assets/keys.jpg">
	</div>
		<ol>
			<li class='white'><h4>See The Keyboard Above? Notice Something?</h4>
				<p class='green'>The keyboard is made up of 12 notes that repeat over and over again. They are C, C#/Db, D, D#/Eb, E, F, F#/Gb, G, G#/Ab, A, A#/Bb, and B. You may be wondering why some notes have two names. These are called enharmonic notes and the name assigned depends on what key you are playing in. For now don't worry about that. For this app, I have used all flat enharmonic names. So we are working with C, Db, D, Eb, E, F, Gb, G, Ab, A, Bb, and B.</p>
			</li>
			<li class='white'><h4>This App Uses Major and Minor Triads, With One Exception:</h4>
				<p class='green'>A Triad is a chord that contains 3 notes. Chords ending in "M" are major and chords ending in "m" are minor. Each Triad consists of a root note, a third, and a 5th. These are the intervals from the root. The only difference between major and minor Triads is that a minor Triad has a minor 3rd and a major Triad has a major 3rd. The exception that you will find is a dim chord (short for diminished). A diminished chord has a root, a minor 3rd, and a minor 5th.</p>
			</li>
			<li class='white'><h4>Triads are Easy to Make</h4>
				<p class='green'>Notes are seperated by half steps. To make a major chord all you need to do is start at the root, count up 4 notes to the 3rd and then 3 notes to the 5th, and presto. You have a chord! For example if we start at C, and want to create a major Traid then E would be the 3rd and G would be the 5th. To make it a C minor Triad all we have to do is lower the 3rd a half-step to Eb and we have a C minor Triad. To create a Cdim chord we would lower the 5th to Gb and the 3rd to Eb.</p>
			</li>	
		</ol>
	</div>
</div>
<div class='row'>
	<div class='col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3'>
	<h3 class='hotToh2s'>How to use this <b>App</b></h3>
	<hr>
		<ul>
			<li class='white'><h5>Start By Choosing A Note and Chord Quality (Either Major or Minor)</h5></li>
			<li class='white'><h5>The Dropdown Will Then Populate With Suggested Chords Based On What You Have Chosen. This Will Continue Until You Have Completed A 4 Chord Progression</h5></li>
			<li class='white'><h5>Progressions Can Be Saved To Your Profile If You Have Signed Up and are Logged In. If You Haven't Signed Up Yet Please Click <a id='abouta' href='/signup'>HERE</a>.</h5></li>
		</ul>
	</div>
</div>



