body { 
 background-color: #395668;
 color: #c2d995;
 font-family: 'Raleway', sans-serif;
}

.alerts-container {
z-index: 999;
}

.btn {
	border-radius: none;
}
.navbar {
	border-top: none;
	border-right: none;
	border-left: none;
}

#logo {
	color: #395668;
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
}

#navlinks {
	color: #395668;
}

#navlinks:hover {
	background-color: #c2d995;
}

.nav {
	border-radius: none;
}

#homeh1 {
	text-align: center;
}

#homep {
	text-align: center;
	font-size: 15px;
}

#homea {
	color: white;
	text-decoration: none;
}

#homea:hover {
	text-decoration: underline;	
}

#harmonize {
	font-weight: bold;
}

.movie-container {
	height: 50vh;
	margin-bottom: 1.5em;
}

#movie {
	height: 100%;
	width: 100%;
}

#first-button {
	margin-top: 1rem;
}

.first-button-container {
	text-align: center;
}

.chord-prog-container {
	display: inline-block;
	text-align: center;
}

#chord {
	font-weight: bold;
	margin-left: 1rem;
	margin-top: -0.5rem;
}

.button-container {
	margin-top: 1rem;
}

.white {
	color: white;
}

.green {
	color: #c2d995;
}

.error-msg {
	text-align: center;
}

.delete {
	background-color: transparent;
	border: none;
	color: white;
}

.delete:hover {
	background-color: transparent;
	color: #880000;
}

.delete:active,
.delete:focus {
	background-color: transparent;
	color: white;
	outline: none;
}

.keys-container {
	height: 15vh;
	text-align: center;
}

#keys {
	height: 100%;
	width: 75%;
	border: 5px solid #c2d995;
	border-radius: 15px;
}

.favorite-chords {
	height: 350px;
	width: 300px;
	overflow: auto;
}

.about {
	text-align: center;
}

.about-pic-container {
	height: 40vh;
	width: 100%;
}

.about-pic {
	height: 100%;
	width: 80%;
}

i {
	color: white;
	margin-right: 20px;
	margin-left: 20px; 
}

.icons {
	text-align: center;
	margin-top: 10px;
}

@media (max-width: 600px) {
  #chord {
    font-size: 22px;
  }
  .about-pic-container {
  	height: 25vh;
  	width: 100%;
  }
}